.container {
    display: flex;
    min-height: 100vh;
}

.left {
    width: 200px;
    min-height: 100vh;
    padding-top: 20px;
}

.right {
    flex-grow: 1;
    min-height: 100vh;
    padding: 26px 16px 0;
    background: #f0f0f0;
}

.right>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.right>ul>div.selected {
    background-color: red;
}

.right>div>table {
    position: sticky;
    top: 0;
    height: fit-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.menuitem {
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: gray;
}

